/*
/.**

!README.md

!bin
!bin/**

!.zshenv
!.zshrc

!/.config
!/.config/anyenv
**/node_modules

!.gitignore
!.gitconfig
!.gitmodules

!.vim/
!.vim/**
.vim/plugged
.vim/.netrwhist
!.vimrc

!.anyenv
!.anyenv/**

!emmet-vim
!emmet-vim/**
